
<div class="legends" *ngIf="enableLegends">
    <a (click)="showLegend = !showLegend;showHelp = false"><span class="legend">&#9830;</span></a>
    <a (click)="showLegend = false;showHelp = !showHelp"><span class="help">?</span></a>
    <div class="info" *ngIf="showLegend">
<b>Link types:</b>
    <strong>Dotted line:</strong> Destination of a Node
    <strong>Line:</strong> Source of a Node

<b>Node types:</b>
    <strong>circle</strong> - {{typeMapping['circle']}}
    <strong>square</strong> - {{typeMapping['square']}}
    <strong>triangle-up</strong> - {{typeMapping['triangle-up']}}
    <strong>diamond</strong> - {{typeMapping['diamond']}}
    <strong>cross</strong> - {{typeMapping['cross']}}
    <strong>triangle-down</strong> - {{typeMapping['triangle-down']}}
    </div>
    <div class="info" *ngIf="showHelp">
<b>Hover to highlight 1st-order neighborhood. Click to fade surroundings.</b>
<b>Double-click to center node and zoom in. Hold SHIFT and Double-click to zoom out.</b>

<b>Filter nodes by:</b>
    <strong>SHIFT + "C" :</strong> Show/hide all circle {{typeMapping['circle'] ? "(" + typeMapping['circle'] + ")" : ""}} nodes
    <strong>SHIFT + "S" :</strong> Show/hide all square {{typeMapping['square'] ? "(" + typeMapping['square'] + ")" : ""}} nodes
    <strong>SHIFT + "T" :</strong> Show/hide all triangle-up {{typeMapping['triangle-up'] ? "(" + typeMapping['triangle-up'] + ")" : ""}} nodes
    <strong>SHIFT + "R" :</strong> Show/hide all diamond {{typeMapping['diamond'] ? "(" + typeMapping['diamond'] + ")" : ""}} nodes
    <strong>SHIFT + "X" :</strong> Show/hide all cross {{typeMapping['cross'] ? "(" + typeMapping['cross'] + ")" : ""}} nodes
    <strong>SHIFT + "D" :</strong> Show/hide all triangle-down {{typeMapping['triangle-down'] ? "(" + typeMapping['triangle-down'] + ")" : ""}} nodes
    <strong>SHIFT + "L" :</strong> Show/hide all low range group (%33) nodes
    <strong>SHIFT + "M" :</strong> Show/hide all medium range group (%50) nodes
    <strong>SHIFT + "H" :</strong> Show/hide all high range group (%66) nodes
    <strong>SHIFT + "1" :</strong> Show/hide all low range group (%33) links
    <strong>SHIFT + "2" :</strong> Show/hide all medium range group (%50) links
    <strong>SHIFT + "3" :</strong> Show/hide all high range group (%66) links
    </div>
</div>

<div class="d3-container" 
    [style.width]="width"
    [style.height]="height"
    id="d3-container" #d3Container></div>
