:host {
  #d3-container {
    border: 1px solid #633;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fefefe;
    margin: 5px;
    overflow: hidden;
  }
}
