
<div class="legends" *ngIf="enableLegends">
    <a (click)="showLegend = !showLegend;showHelp = false"><span class="legend">&#9826;</span></a>
    <a (click)="showLegend = false;showHelp = !showHelp"><span class="help">?</span></a>
    <fieldset class="info" *ngIf="showLegend">
        <legend>Definitions</legend>
        <b>Link types:</b><br/>
        <strong>Dotted line:</strong> Destination of a Node<br/>
        <strong>Line:</strong> Source of a Node<br/>
        <span *ngIf="showDirections"><strong>Line Arrow:</strong> Pointing toward the destination.<br/></span>

        <br/><b>Node types:</b><br/>
        <span *ngIf="typeMapping['circle']"><strong>Circle</strong> - {{typeMapping['circle']}}<br/></span>
        <span *ngIf="typeMapping['cross']"><strong>Cross</strong> - {{typeMapping['cross']}}<br/></span>
        <span *ngIf="typeMapping['diamond']"><strong>Diamond</strong> - {{typeMapping['diamond']}}<br/></span>
        <span *ngIf="typeMapping['square']"><strong>Square</strong> - {{typeMapping['square']}}<br/></span>
        <span *ngIf="typeMapping['triangle-down']"><strong>Triangle-down</strong> - {{typeMapping['triangle-down']}}<br/></span>
        <span *ngIf="typeMapping['triangle-up']"><strong>Triangle-up</strong> - {{typeMapping['triangle-up']}}<br/></span>
    </fieldset>
    <fieldset class="info" *ngIf="showHelp">
        <legend>Tips</legend>
        <b>Hover on a node to highlight 1st-order neighbourhood.</b><br/>
        <b>Hold mouse down on a node to fade surroundings.</b><br/>
        <b>Double-click to center node and zoom in.</b><br/>
        <b>Hold SHIFT and Double-click to zoom out.</b><br/><br/>

        <b>Filter nodes by:</b><br/>
        <strong>"!" :</strong> Show/hide node category on hover<br/>
        <strong>"#" :</strong> Show/hide link arrow direction<br/>
        <strong>"@" :</strong> Show/hide node names or node category<br/>
        <strong>"T" :</strong> Enable/disable displaying of Tooltip<br/>
        <span *ngIf="typeMapping['circle']"><strong>"C" :</strong> Show/hide all circle ( {{typeMapping['circle']}} ) nodes<br/></span>
        <span *ngIf="typeMapping['cross']"><strong>"X" :</strong> Show/hide all cross ( {{typeMapping['cross']}} ) nodes<br/></span>
        <span *ngIf="typeMapping['diamond']"><strong>"R" :</strong> Show/hide all diamond ( {{typeMapping['diamond']}} ) nodes<br/></span>
        <span *ngIf="typeMapping['square']"><strong>"S" :</strong> Show/hide all square ( {{typeMapping['square']}} ) nodes<br/></span>
        <span *ngIf="typeMapping['triangle-down']"><strong>"D" :</strong> Show/hide all triangle-down ( {{ typeMapping['triangle-down']}} ) nodes<br/></span>
        <span *ngIf="typeMapping['triangle-up']"><strong>"U" :</strong> Show/hide all triangle-up ( {{typeMapping['triangle-up']}} ) nodes<br/></span>
        <strong>"L" :</strong> Show/hide all low range group (%33) nodes<br/>
        <strong>"M" :</strong> Show/hide all medium range group (%50) nodes<br/>
        <strong>"H" :</strong> Show/hide all high range group (%66) nodes<br/>
        <strong>"1" :</strong> Show/hide all low range group (%33) links<br/>
        <strong>"2" :</strong> Show/hide all medium range group (%50) links<br/>
        <strong>"3" :</strong> Show/hide all high range group (%66) links
    </fieldset>
</div>

<div class="d3-container" 
    [style.width]="width"
    [style.height]="height"
    id="d3-container" #d3Container></div>
