:host {
  position: relative;
  display: inline-block;

  .legends {
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 3;
    width: 30px;
    font-size: 1.2rem;
    background-color: #eee;
    padding: 3px 5px;
    border-radius: 15px;
    a {
      cursor: pointer;
      font-weight: bold;
      &:hover {
        color: #fff;
      }
    }
    .info {
      padding: 5px;
      border: 1px solid #888;
      border-radius: 5px;
      position: absolute;
      right: 0px;
      font-size: 0.7rem;
      line-height: 1rem;
      box-shadow: 1px 1px 3px #bbb;
      background-color: #fff;
	  width: 350px;
      strong {
        color: #8f0000;
		font-size: 0.8rem;
		margin-left: 20px;
      }
    }
  }
  
  #d3-container {
    border: 1px solid #633;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fefefe;
    margin: 5px;
    overflow: hidden;
  }
}
